.album-detail-container-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  /* inline-size: 175px; */
  overflow-wrap: break-word;
}

.album-player-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.album-title-text {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 5px;
}

.album-by-link {
  font-size: 14px;
  padding-bottom: 25px;
  text-decoration: none;
}

.album-by-link a {
  text-decoration: none;
  color: rgb(6, 135, 245);
}

/* Song player section */
.album-now-playing {
  padding-bottom: 20px;
}

.album-song-now-text {
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}

/* .album-song-title {
  font-weight: bold;
} */

.song-list-container {
  padding-top: 5px;
  width: 100%;
}

.song-container {
  display: flex;
  align-items: center;
  /* height: 20px; */

  width: 100%;
  padding: 7px 12px;
  /* padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px; */
}

.song-play-title-container {
  display: flex;
  align-items: center;
  width: 250px;

  /* gap 5px */
}

.song-play-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  /* height: 30px; */
  /* width: 36px; */
  cursor: pointer;
}
.song-play-btn-container:hover {
  background-color: rgb(242, 242, 242);
}

.song-play-btn {
  height: 16px;
  width: 16px;
  /* margin-right: 10px; */
}

.song-track-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.song-edit-delete-container {
  display: flex;
  width: auto;
}

.song-delete-button,
.song-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  padding: 6px;
}

.song-add-button {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  padding-left: 18px;
  gap: 5px;
}

.song-delete-button:hover,
.song-edit-button:hover,
.song-add-button:hover {
  background-color: rgb(242, 242, 242);
}

/* Album Image */

.album-detail-image-container {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.album-detail-image {
  height: 350px;
  width: 350px;
}

.album-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-bottom: 20px;
}

.album-description-container {
  display: flex;
  justify-content: space-between;
}

.album-description-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.album-about-text {
  font-size: 14px;
  /* overflow-wrap: break-word; */
  word-break: break-all;
}

.album-year-text-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-top: 10px;
  padding-right: 10px;
  font-size: 14px;
}
/* .album-year-text {} */
/* edit Details */

.edit-album-button-container {
  border-top: 1px dotted gray;
}

.edit-album-image-button,
.edit-album-details-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
  margin: 0px;
  font-size: 15px;
}
.edit-album-image-button:hover,
.edit-album-details-button:hover {
  background-color: rgb(243, 243, 243);
}
