.album-detail-container-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.album-player-detail {
  display: flex;
  height: 100%;
}

.album-detail-image {
  height: 350px;
  width: 350px;
  margin-right: 40px;
}

.album-detail-image-div {
}

.song-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-top: 10px;
}

.song-play-btn {
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.song-delete-button {
  cursor: pointer;
}

.editAlbumDetails {
  display: flex;
  align-items: center;
  padding: 5px;
  color: rgb(70, 59, 59);
  /* background-color: rgba(138, 121, 121, 0.837); */
  /* border: none; */
  border-radius: 1px solid black;
  margin: 5px;
  font-weight: 550;
  cursor: pointer;
  margin-left: -5px;
}
.editAlbumDetails:hover {
  background-color: rgb(243, 243, 243);
}

.edit-profile-image-button-album-detail {
  padding: 5px;
  margin-top: 10px;
  margin-left: 80px;
  width: 50%;
}

.edit-profile-image-button-album-detail:hover {
  background-color: rgb(243, 243, 243);
}

.material-symbols-outlined-for-album-image {
  padding-bottom: 5px;
}

.edit-profile-image-span-div-last {
  display: flex;
  align-items: center;
  cursor: pointer;
}
