.album-detail-container {
  display: flex;
  width: 795px;
  justify-content: space-between;
  height: 100%;
}
.album-player-detail {
  display: flex;
  height: 100%;
}

.album-detail-image {
  height: 350px;
  width: 350px;
  margin-right: 40px;
}

.album-detail-image-div {
}

.song-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-top: 10px;
}

.song-play-btn {
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.song-delete-button {
  cursor: pointer;
}

.editAlbumDetails {
  padding: 5px;
  background-color: rgb(148, 135, 135);
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}
