.footer-container {
  display: flex;
  background-color: #477987;
  width: 100%;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: 13px;
  color: black;
}
.footer-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  max-width: 975px;
  width: 100%;
}

.footer-developed-by {
  padding-left: 30px;
  font-weight: bold;
}

.footer-developerList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 70px; */
  width: auto;
  flex: 1;

  padding: 10px;
}

.footer-developer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-image-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
