.artist-details-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1.75em; */
}

.artist-profile-image {
  max-width: 100%;
  max-height: 150px;
}

.artist-profile-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 0px;
  font-weight: bold;
  font-size: 14px;
}

.artist-profile-name a,
.artist-profile-name-text {
  color: black;
  text-decoration: none;
}

.artist-profile-name-text:hover {
  text-decoration: underline;
}

.artist-profile-location {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 0px;
  color: gray;
  font-size: 12px;
}
.artist-profile-genre {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 0px;
  color: gray;
  font-size: 12px;
}

.artist-profile-description {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 0px;
  font-size: 12px;
  padding-bottom: 60px;
}

.artist-profile-name-text,
.artist-profile-location-text,
.artist-profile-genre-text,
.artist-profile-description-text {
  overflow-wrap: break-word;
  word-break: break-all;
}

.artist-edit-profile-btn {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.profile-edit-span {
  font-size: 15px;
}

.profile-edit-span:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}

.add-album-button,
.edit-artist-details-button,
.edit-profile-image-button,
.edit-cover-image-button,
.edit-background-image-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}

.artist-edit-profile-btn:hover,
.add-album-button:hover,
.edit-artist-details-button:hover,
.edit-profile-image-button:hover,
.edit-cover-image-button:hover,
.edit-background-image-button:hover {
  background-color: rgb(243, 243, 243);
}
