.artist-bio-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75em;
}

.artist-edit-container * {
  margin-top: 4%;
}

.artist-bio-container *:not(img) {
  margin-top: 6%;
}

.artist-profile {
  max-width: 100%;
  max-height: 150px;
}

.edit-profile-image-button {
  /* position: absolute;
  right: 0px;
  top: 0px; */
  cursor: pointer;
}

.addalbumBtn {
  cursor: pointer;
  color: white;
  background-color: rgb(75, 75, 111);
  border-radius: 10px;
  animation: addalbumBtnani 3s infinite;
}

@keyframes addalbumBtnani {
  0% {
    color: black;
  }
  80% {
    color: white;
  }
}

.artist-dashboard-header {
  font-weight: 600;
  font-size: 18px;
  color: #0000ee;
}

.artist-dashboard-header:hover {
  text-decoration: underline;
  cursor: pointer;
}
