.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
}

.splash-hooks {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgb(90, 90, 90);
}

.splash-hooks h1 {
  font-size: 450%;
}

.splash-hooks p {
  font-size: 135%;
  margin: 2.5%;
}

.splash-auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-top: 5%;
  margin-bottom: 7%;
}

.splash-auth-buttons * {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.splash-btn {
  margin-top: 12px;
  padding: 15px 15px;
  border: 1px solid rgb(3, 161, 198);
  border-radius: 4px;
  /* width: 100%; */

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: rgb(3, 161, 198);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.splash-btn * {
  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
}

.artist-credentials {
  color: white;
  font-weight: bold;
  text-align: center;
  position: fixed;
  bottom: 110px;
}

.artist-credentials * {
  text-shadow: 1px 1px 1px rgb(90, 90, 90);
}

.splash_artist_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* .splash_artist_link:hover {
  text-decoration: underline;
} */
