.artistCoverImg {
  height: 200px;
  width: 300px;
  cursor: pointer;
}

.listofArtist {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 #dfdfdf;
  height: 320px;
}

.artistListDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 0.25em;
  flex: 1;
}

.outerDivdorArtistList {
  background-color: #eef2f3;
  margin:10px
}

.titleOfDivContentforArtist {
  display: flex;
  justify-content: center;
  color: #408ea3;
}

.artistNameInnerDiv {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.artistdescriptionInnerDiv {
  width: 300px;
  font-family: Georgia, Times, serif;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  /* margin-bottom: 9px; */
}
