.discover-cover-div {
  height: 300px;
  width: 100%;
  background-color: rgb(119, 156, 173);
  /* background-color: rgb(89, 120, 134); */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* NAV SECOND ROW */

.discover-row-two {
  display: flex;
  background-color: rgb(242, 242, 242);

  width: 100%;
  height: 38px;
}

.discover-row-two-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  height: 38px;
  margin: 0px;
  padding: 0px 15px;
}

.discover-row-two-inner li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  font-weight: bolder;
  /* padding: 0px 15px; */
  height: 100%;
}

.discover-inactive-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: rgb(102, 102, 102);

  height: 100%;
  padding: 0px 15px;
}
/* re enable when links are live */
/* .discover-inactive-link:hover {
  border-top: 2px solid rgb(0, 145, 220);
} */

.discover-music-link-active {
  color: rgb(6, 135, 245);
  border-top: 2px solid rgb(0, 145, 220);
}

/* NAV SECOND ROW */

.discover-main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100%; */
  height: auto;
  width: 100%;
  flex-grow: 1;

  background-color: rgb(242, 242, 242);
  padding: 40px 40px;
}
.discover-artist-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 975px;

  /* width: 80%; */
  width: 100%;
}

.discover-artist-card-container-inner {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: initial;

  width: 100%;

  gap: 20px;
  flex: 1;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.discover-artist-card-inner {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 #dfdfdf;
  height: 320px;
}

.discover-artist-card {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.discover-artist-card:link {
  text-decoration: none;
  /* text-decoration: none !important; */
}

.discover-artist-card:hover {
  transform: scale(1.03);
  /* border: 2px solid rgba(60, 145, 214, 1); */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* box-shadow: 0px 0px 1px 4px rgba(60, 145, 214, 1); */
  outline: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-decoration-style: black;
}

.discover-artistCoverImg {
  height: 200px;
  width: 300px;
}

.discover-artist-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: black;
}

.discover-artistName {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

.discover-artistdescription {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 14px;
  padding: 10px;
}
