.artist-bg-div {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  width: 100%;
  height: auto;
  flex-grow: 1;

  /* background-position: center; */
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
}

/* .artist-background {
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  width: 100%;
  padding: 0px;
} */

.artist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */

  width: max-content;
  width: 1180px;
  /* height: 100%; */
  flex-grow: 1;

  background-color: #ffffff;
  margin-bottom: 40px;
}

.artist-cover-div {
  height: 180px;
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit: cover; */
}

.artist-cover {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

/* NAV SECOND ROW */

.artist-row-two {
  display: flex;
  background-color: rgb(242, 242, 242);
  /* position: sticky; */
  /* top: 48px; */
  /* left: 0px; */
  width: 100%;
  /* z-index: 1000; */
  height: 38px;
}

.artist-row-two-inner {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  height: 38px;
  margin: 0px;
  padding: 0px 15px;
}

.artist-row-two-inner li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  font-weight: bolder;
  /* padding: 0px 15px; */
  height: 100%;
}

.artist-inactive-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: rgb(102, 102, 102);

  height: 100%;
  padding: 0px 15px;
}
/* re enable when links are live */
/* .artist-inactive-link:hover {
  border-top: 2px solid rgb(0, 145, 220);
} */

li.artist-merch,
li.artist-community {
  /* comment out later */
  display: none;
}

.artist-merch a,
.artist-community a {
  cursor: default;
}

.artist-music-link-active {
  color: rgb(6, 135, 245);
  border-top: 2px solid rgb(0, 145, 220);
}

/* NAV SECOND ROW */

.artist-main-container {
  display: flex;

  height: auto;
  flex-grow: 1;
  width: 100%;

  padding: 35px 30px;
  padding-bottom: 40px;
}

.artist-albums-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  width: 100%;
  margin: 0;
  padding-right: 30px;
}

.artist-detail-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 150px;
}

.artist-detail-container-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
}
