
.album-card-container {
  min-height: 232px;
  margin-right: 30px;
  margin: 0 26px 30px 0;
  vertical-align: top;
}

.album-thumbnail-image {
  height: 232px;
  width: 232px;
}

.album-delete-button {
  /* position: absolute;
  right: 0px;
  top: 0px; */
  cursor: pointer;
}

.album-thumbnail-title {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  color: #0000EE
}

.album-thumbnail-title:hover {
  text-decoration: underline;
}
