.album-list-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;

  gap: 20px;
  flex: 1;
}

.album-card-container {
  min-height: 200px;
  vertical-align: top;
}

.album-thumbnail-image {
  height: 200px;
  width: 200px;
}

.album-delete-button {
  /* position: absolute;
  right: 0px;
  top: 0px; */
  cursor: pointer;
}

.album-thumbnail-title {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  color: #0000ee;
}

.album-thumbnail-title:hover {
  text-decoration: underline;
}

.album-navlink {
  display: flex;
  flex-direction: column;
}
